---
---

<section class="min-h-[800px] flex flex-col justify-center">
	<div class="w-[400px] h-full absolute">
		<img
			class="w-full h-full object-cover"
			src="/home-img/satisfy.png"
			alt="images"
		/>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-10 gap-2 py-10">
		<div
			class="col-start-1 col-span-1 md:col-start-4 md:col-span-6 pt-8"
		>
			<h3>Build - e-commerce with Tempa</h3>
			<h2 class="text-h2">
				We make enterprise-grade <br /> e-commerce website accessible
				to brands of all sizes.
			</h2>
		</div>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-10 gap-8">
		<div
			class="grid col-span-1 md:col-start-4 md:col-span-2 gap-4 reveal"
			style="animation-delay: 0.5s"
		>
			<h4 class="pt-10 text-2xl">E-commerce Migration</h4>
			<p>
				Migrate from existing e-commerce platform to another
				platform.
			</p>
			<ul class="list-none list-inside">
				<li class="li-migrate li-border-1">
					Migrate from Tokopedia
				</li>
				<li class="li-migrate li-border-1">Migrate from Shopee</li>
				<li class="li-migrate li-border-1">
					Migrate from tiktokshop
				</li>
				<li class="li-migrate li-border-1">Migrate from Shopify</li>
			</ul>
		</div>
		<div
			class="grid col-span-1 md:col-span-2 reveal px-4 md:px-0"
			style="animation-delay: 0.62s"
		>
			<h4 class="pt-10 text-2xl">
				Design built around your brand — not a template
			</h4>
			<p>
				From Ui & UX to production, we tailor made your digital
				presence without shortcuts.
			</p>
		</div>
		<div
			class="grid col-span-1 md:col-span-2 reveal px-4 md:px-0"
			style="animation-delay: 0.74s"
		>
			<h4 class="pt-10 text-2xl">
				Craft your product content strategy
			</h4>
			<p>
				Product presentation is king. We shape how your products are
				described, positioned, and presented, so customers feel
				compelled to buy.
			</p>
		</div>
	</div>
</section>
