---
---

<section
    class="grid grid-cols-1 md:grid-cols-10 gap-2 mt-20 min-h-[30vh] py-10 bg-[#0a0d25] text-white"
>
    <div class="col-span-1 flex md:col-span-2 md:col-start-2">
        <h2 class="text-4xl md:text-4xl">Tempa.dev</h2>
    </div>
    <div class="col-sp-1 flex flex-col md:col-span-2">
        <p>E-commerce services</p>
        <ul class="list-none list-inside">
            <li class="li-migrate">Migrate from Tokopedia</li>
            <li class="li-migrate">Migrate from Shopee</li>
            <li class="li-migrate">Migrate from tiktokshop</li>
            <li class="li-migrate">Migrate from Shopify</li>
        </ul>
    </div>
    <div class="col-sp-1 flex flex-col md:col-span-2">
        <p>Social media</p>
        <ul class="list-none list-inside">
            <li class="li-migrate">Instagram</li>
        </ul>
    </div>
    <div
        class="col-span-1 md:col-span-2 md:col-start-9 flex items-center"
        style="animation-delay: 1s"
    >
        <div class="px-4 py-2 bg-[#ffffff]">
            <h3 class="text-2xl text-black">hello@tempa.dev</h3>
        </div>
    </div>
</section>
