---
---

<section
    class="bg-white h-screen md:grid md:grid-cols-1 md:grid-cols-7 w-full flex flex-wrap items-center justify-center py-8 px-4 md:px-0 gap-4 md:gap-0"
>
    <div class="col-span-1 md:col-start-2 md:col-span-1 stacks">
        <img class="h-full object-cover" src="/stacks/astro.svg" alt="Astro" />
    </div>
    <div class="col-span-1 md:col-start-3 md:col-span-1 stacks">
        <img class="h-full object-cover" src="/stacks/vue.svg" alt="vue.js" />
    </div>
    <div class="col-span-1 md:col-start-4 md:col-span-1 stacks">
        <img
            class="h-full object-cover"
            src="/stacks/shopify.svg"
            alt="shopify"
        />
    </div><div class="col-span-1 md:col-start-5 md:col-span-1 stacks">
        <img
            class="h-full object-cover"
            src="/stacks/wordpress.svg"
            alt="wordpress"
        />
    </div><div class="col-span-1 md:col-start-6 md:col-span-1 stacks">
        <img
            class="h-full object-cover"
            src="/stacks/woo.svg"
            alt="woo commerce"
        />
    </div>
</section>
