---
---

<section
    class="grid grid-cols-1 md:grid-cols-10 gap-2 mt-20 min-h-[30vh] bg-[#0a0d25] text-white p-8"
>
    <div class="col-span-1 flex flex-col md:col-span-3 md:col-start-2">
        <div class="self-start items-end flex">
            <img
                src="/brand/tempa-logo-white.svg"
                class="w-[18%]"
                alt="tempa logo"
            />
            <h2 class="text-4xl md:text-3xl mb-1">Tempa.dev</h2>
        </div>
        <div class="grid grid-cols-2">
            <div class="col-span-1 pt-4">
                <p class="font-light">
                    Digital consultancy studio. Combining design consulting,
                    creativity, technology, engineering and data
                </p>
            </div>
        </div>
    </div>
    <div class="col-sp-1 flex flex-col md:col-span-2">
        <h4 class="text-xl">E-commerce services</h4>
        <ul class="list-none list-inside">
            <li class="li-footer">E-commerce development</li>
            <li class="li-footer">Migrate from Tokopedia</li>
            <li class="li-footer">Migrate from Shopee</li>
            <li class="li-footer">Migrate from tiktokshop</li>
        </ul>
    </div>
    <div class="col-sp-1 flex flex-col md:col-span-2">
        <h4 class="text-xl">Core services</h4>
        <ul class="list-none list-inside">
            <li class="li-footer">UI design</li>
            <li class="li-footer">UX Design</li>
            <li class="li-footer">Frontend Development</li>
            <li class="li-footer">Backend Development</li>
        </ul>
    </div>
    <div
        class="col-span-1 flex justify-between md:justify-start md:items-start items-center md:flex-col md:col-span-2 md:col-start-9"
        style="animation-delay: 1s"
    >
        <h4 class="text-xl">Contact</h4>
        <div
            class="px-4 py-2 bg-[#ffffff] hover:bg-gray-100 transition-colors w-fit mt-2"
        >
            <a
                href="mailto:hello@tempa.dev"
                class="text-black block w-full h-full">hello@tempa.dev</a
            >
        </div>
    </div>
</section>
